/* =========== Common styles =========== */
/* =========== Common styles Mobile =========== */

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h3 {
  color: #2e2f42;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* =========== Common styles Tablet =========== */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/* =========== Common styles Desktop =========== */

@media only screen and (min-width: 1158px) {
  h3 {
    font-size: 56px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
/* ============ Page Header Mobile ============ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.logo-part {
  color: #4d5ae5;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

.mobile-menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* ============== Page Header Tablet ============== */

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .logo {
    margin-right: 76px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-list-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list :hover,
  .nav-list :focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list-link:hover,
  .address-list-link:focus {
    color: #404bbf;
  }
}

/* ============== Page Header Desktop ============== */

@media only screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* =========== /Page Header styles =========== */

/* =========== Hero Section styles =========== */
/* =========== Hero Section Mobile =========== */

.background {
  background: #2e2f42;
  padding: 72px 0px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 320px;
  margin: 0 auto;
}

.page-title-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.page-btn {
  background: #4d5ae5;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-btn:hover,
.page-btn:focus {
  background: #404bbf;
}

/* ============== Hero Section Tablet ============== */

@media only screen and (min-width: 768px) {
  .background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-hero.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .page-title-item {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

/* ============== Hero Section Desktop ============== */

@media only screen and (min-width: 1158px) {
  .background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-hero@2x.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  .page-title-item {
    max-width: 496px;
    margin-bottom: 48px;
  }
}
/* =========== /Hero Section styles =========== */

/* ============= About Us Section ============= */
/* =========== About Us Mobile =========== */

.page-description {
  padding: 96px 0;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.description-link {
  display: none;
}

.description-item-name {
  text-align: center;
  margin-bottom: 8px;
}

/* ============== About Us Tablet ============== */

@media only screen and (min-width: 768px) {
  .description-list {
    display: flex-box;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .description-list-item {
    max-width: 356px;
  }

  .description-item-name {
    text-align: start;
  }
}

/* ============== About Us Desktop ============== */

@media only screen and (min-width: 1158px) {
  .description-list-item {
    width: calc((100% - 72px) / 4);
  }

  .description-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
  }
}
/* =========== /About Us Section =========== */

/* =========== Our Team Section =========== */
/* =========== Our Team Mobile =========== */

.our-team {
  padding: 96px 0;
  background: #f4f4fd;
}

.team-header {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.row-team {
  padding: 32px 0px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  background: #fff;
}

.team-item-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-item-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

/* =========== Our Team Tablet =========== */
@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}
/* =========== Our Team Desktop =========== */
@media only screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
}
/* =========== /Our Team Section =========== */

/* =========== Portfolio Section =========== */
/* =========== Portfolio Mobile =========== */
.page-portfolio {
  padding: 96px 0px;
}

.portfolio-header {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.row {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-img {
  max-width: 288px;
  max-height: 280px;
}

.portfolio-item-name {
  margin-bottom: 8px;
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  max-width: 360px;
  margin-bottom: 8px;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .overlay-box {
  transform: translateY(0%);
}

.overlay-box {
  position: absolute;
  background: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
}

/* =========== Our Team Tablet =========== */
@media only screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}
.portfolio-item-img {
  max-width: 356px;
  max-height: 300px;
}
.portfolio-item-name {
  margin-bottom: 8px;
  text-align: start;
}
/* =========== Our Team Desktop =========== */
@media only screen and (min-width: 1158px) {
  .page-portfolio {
    padding: 120px 0px;
  }

  .portfolio-list {
    row-gap: 48px;
  }
}
/* =========== /Portfolio Section =========== */

/* =========== Page Footer styles =========== */
/* =========== Footer Mobile =========== */
.page-footer {
  background: #2e2f42;
  padding-top: 97.5px;
  padding-bottom: 104px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-logo-text {
  margin-bottom: 120px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 288px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-header,
.footer-action-header {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 27px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-action-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-action-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text-input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
}

.footer-text-input::placeholder {
  color: #fff;
}

.footer-action-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-action-btn:hover,
.footer-action-btn:focus {
  background: #404bbf;
}

.action-btn-icon {
  margin-left: 16px;
}
/* =========== Footer Tablet =========== */
@media only screen and (min-width: 768px) {
  .footer-blok-wrapper {
    display: flex;
    align-items: baseline;
    gap: 24px;
    margin-bottom: 72px;
    margin-left: 108px;
  }

  .footer-logo-text {
    margin: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-text-input {
    width: 264px;
  }
  .footer-social-header {
    display: block;
    align-items: flex-start;
  }

  .footer-action-blok {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .footer-action-wrapper {
    margin-left: 108px;
  }

  .footer-action-header {
    justify-content: flex-start;
  }
}

/* =========== Footer Desktop =========== */
@media only screen and (min-width: 1158px) {
  .footer-blok-wrapper {
    gap: 0;
  }

  .page-footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-direction: row;
    justify-content: center;
  }

  .footer-social-wrapper {
    margin-left: 120px;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .footer-text {
    min-width: 264px;
  }

  .footer-action-wrapper {
    margin-left: 80px;
  }
  .footer-action-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-blok-wrapper {
    margin: 0 auto;
  }
}
/* =========== /Page Footer styles =========== */

/* =========== Backdrop stiles =========== */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
}
/* =========== Backdrop stiles =========== */

/* =========== Modal stiles =========== */
.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

/* =========== Tablet/Desktop Modal stiles =========== */
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* =========== /Modal stiles =========== */

/* =========== Modal window stiles =========== */
/* =========== Mobile Modal window =========== */

.contact-form-description {
  max-width: 256px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contact-form-filed-wrapper {
  margin-bottom: 8px;
}
.contact-form-filed-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.contact-form-input-wrapper {
  position: relative;
}

.contact-form-input {
  background-color: transparent;
  outline: transparent;
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: #4d5ae5;
}

/* =========== Tablet/Desktop Modal stiles =========== */
@media only screen and (min-width: 768px) {
  .contact-form-description {
    max-width: 360px;
  }

  .contact-form-input {
    width: 360px;
  }
}
/* ========= Textarea ======== */
/* ===== Mobile Textarea ===== */
.contact-form-comment-wrapper {
  margin-bottom: 16px;
}

.contact-form-text-input {
  width: 256px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.contact-form-text-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-text-input:focus {
  border: 1px solid #4d5ae5;
}

/* ===== Tablet/Desktop Textarea ===== */
@media only screen and (min-width: 768px) {
  .contact-form-text-input {
    width: 360px;
  }
}

/* ===== Checkbox ===== */
.contact-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.contact-form-privacy-checkbox:checked
  + .contact-form-checkbox-label
  .contact-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
  border: none;
}

.contact-form-privacy-checkbox:focus {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.contact-form-own-checkbox {
  display: inline-flex;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.own-checkbox-icon {
  width: 16px;
  height: 16px;
}

.contact-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
}

.privacy-policy-link {
  color: #4d5ae5;
  line-height: 1.3;
  text-decoration: underline;
}

.contact-form-send-btn {
  min-width: 169px;
  display: block;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-send-btn:hover,
.contact-form-send-btn:focus {
  background-color: #404bbf;
}
/* ===== Tablet/Desktop Checkbox ===== */
@media only screen and (min-width: 768px) {
  .contact-form-checkbox-label {
    display: inline-flex;
  }
}
/* ===========/Modal window stiles =========== */

/* ============ Mobile menu stiles ============== */
.mobile-modal {
  background: #fff;
  width: 320px;
  min-height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 48px 16px;
}

.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  fill: #2e2f42;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-nav-item {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-item:hover,
.mobile-menu-nav-item:focus {
  color: #404bbf;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-contacts-item {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-item:hover,
.mobile-menu-contacts-item:focus {
  color: #404bbf;
}

.mobile-menu-social-list {
  display: inline-flex;
  gap: 40px;
}
.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  fill: #f4f4fd;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #31d0aa;
}
/* ============ /Mobile menu stiles ============== */
